* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-app {
    background-color: rgb(104, 90, 90);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}